# 该配置文件在cli2还会有，是用来规范公司代码风格的，比如首行缩进位数等，cli3开始就删除了此配置文件，因为考虑到各公司
# 的代码风格不一样，并且公司的代码风格配置文件一直都是用一个（比如新创建一个项目该配置文件内容和之前的项目一样），每次
# 搭建一个新项目时需要频繁删除这个文件然后重新更改，所以索性删除了这个配置文件，但这个文件在公司中也是比较重要的，用来
# 规范代码风格，所以以后创建项目之后可以自行配置该文件，直接赋值以前的配置文件内容过来即可

root = true

[*]
charset = utf- 8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true